@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --black-color: rgba(4, 4, 4, 1);
  --orange-color: rgba(230, 83, 60, 1);
  --light-orange-color: rgba(239, 137, 100, 1);
  --beige-color: rgba(239, 160, 130, 1);
  --white-color: rgba(239, 237, 232, 1);
  --opacity1: 0.1;
  --opacity2: 0.2;
  --opacity5: 0.5;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040404;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

iframe {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
